<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-4"><span jhiTranslate="home.title">Welkom, Java Hipster!</span> (Ika Demo)</h1>

    <p class="lead" jhiTranslate="home.subtitle">Dit is uw startpagina</p>

    <div>
      @if (account !== null) {
        <div class="alert alert-success">
          @if (account) {
            <span id="home-logged-message" jhiTranslate="home.logged.message" [translateValues]="{ username: account.login }"
              >U bent aangemeld als gebruiker &quot;{{ account.login }}&quot;.</span
            >
          }
        </div>
      } @else {
        <div class="alert alert-warning">
          <span jhiTranslate="global.messages.info.authenticated.prefix">Indien u wilt </span>
          <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">aanmelden</a
          ><span jhiTranslate="global.messages.info.authenticated.suffix"
            >, dan kan u de standaard gebruikers proberen:<br />- Administrator (login=&quot;admin&quot; en wachtwoord=&quot;admin&quot;)
            <br />- Gebruiker (login=&quot;user&quot; en wachtwoord=&quot;user&quot;).</span
          >
        </div>

        <div class="alert alert-warning">
          <span jhiTranslate="global.messages.info.register.noaccount">U heeft nog geen gebruiker?</span>&nbsp;
          <a class="alert-link" routerLink="/account/register" jhiTranslate="global.messages.info.register.link"
            >Registreer een nieuwe gebruiker</a
          >
        </div>
      }
    </div>

    <p jhiTranslate="home.question">Indien u vragen hebt over JHipster:</p>

    <ul>
      <li>
        <a href="https://confluence/" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.homepage">IKA startpagina</a>
      </li>
      <li>
        <a href="https://bitbucket/" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.repository">IKA Code Repo</a>
      </li>
    </ul>
  </div>
</div>
