<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      <h1 jhiTranslate="reset.request.title">Reset uw wachtwoord</h1>

      <jhi-alert-error></jhi-alert-error>

      @if (!success) {
        <div class="alert alert-warning">
          <span jhiTranslate="reset.request.messages.info">Geef het emailadres dat u gebruikte om te registreren</span>
        </div>
      } @else {
        <div class="alert alert-success">
          <span jhiTranslate="reset.request.messages.success"
            >Controleer uw emails voor meer informatie over hoe u uw wachtwoord kan resetten.</span
          >
        </div>
      }

      @if (!success) {
        <form name="form" role="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
          <div class="mb-3">
            <label class="form-label" for="email" jhiTranslate="global.form.email.label">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="{{ 'global.form.email.placeholder' | translate }}"
              formControlName="email"
              data-cy="emailResetPassword"
              #email
            />

            @if (
              resetRequestForm.get('email')!.invalid && (resetRequestForm.get('email')!.dirty || resetRequestForm.get('email')!.touched)
            ) {
              <div>
                @if (resetRequestForm.get('email')?.errors?.required) {
                  <small class="form-text text-danger" jhiTranslate="global.messages.validate.email.required">Uw email is vereist.</small>
                }
                @if (resetRequestForm.get('email')?.errors?.email) {
                  <small class="form-text text-danger" jhiTranslate="global.messages.validate.email.invalid">Uw email is ongeldig.</small>
                }

                @if (resetRequestForm.get('email')?.errors?.minlength) {
                  <small class="form-text text-danger" jhiTranslate="global.messages.validate.email.minlength"
                    >Uw email moet minstens 5 tekens lang zijn.</small
                  >
                }

                @if (resetRequestForm.get('email')?.errors?.maxlength) {
                  <small class="form-text text-danger" jhiTranslate="global.messages.validate.email.maxlength"
                    >Uw email kan niet langer zijn dan 50 tekens.</small
                  >
                }
              </div>
            }
          </div>

          <button
            type="submit"
            [disabled]="resetRequestForm.invalid"
            class="btn btn-primary"
            jhiTranslate="reset.request.form.button"
            data-cy="submit"
          >
            Reset wachtwoord
          </button>
        </form>
      }
    </div>
  </div>
</div>
